<app-header pageTitle="Assignments"></app-header>

<div class="min-h-screen bg-white p-6 max-w-7xl mx-auto">
  <!-- Top section -->
  <div class="flex justify-between items-center mb-4">
    <p class="text-blue-950 text-xl">Create and manage student assignments</p>
    <app-button
      (buttonClick)="openCreateModal()"
      customColor="bg-blue-950 text-white hover:bg-gray-500"
    >
      <i class="fa-solid fa-plus mr-2"></i> Create Assignment
    </app-button>
  </div>

  <!-- SUCCESS MESSAGE -->
  <div
    *ngIf="successMessage"
    class="mb-4 rounded-lg bg-green-100 border border-green-300 text-green-800 px-4 py-3"
  >
    {{ successMessage }}
  </div>

  <!-- ERROR MESSAGE -->
  <div
    *ngIf="errorMessage"
    class="mb-4 rounded-lg bg-red-100 border border-red-300 text-red-800 px-4 py-3"
  >
    {{ errorMessage }}
  </div>

  <!-- Stats -->
  <div class="grid md:grid-cols-2 gap-10 mb-6 px-20">
    <app-stat-card
      icon="fa-solid fa-file-alt"
      [value]="totalAssignmentsCount"
      title="Total Assignments"
      bgColor="bg-purple-50"
      iconBgClass="bg-purple-100"
      iconColorClass="text-purple-600"
    ></app-stat-card>

    <app-stat-card
      icon="fa-solid fa-check-circle"
      [value]="totalSubmissionsCount"
      title="Total Submissions"
      bgColor="bg-green-50"
      iconBgClass="bg-green-100"
      iconColorClass="text-green-600"
    ></app-stat-card>
  </div>

  <!-- Tabs -->
  <div
    class="bg-white rounded-2xl shadow-sm border border-border-light p-2 mb-6 inline-flex"
  >
    <app-button
      (buttonClick)="activeTab = 'active'; applyFilter()"
      [customColor]="
        activeTab === 'active' ? 'bg-slate-500 text-white' : 'text-text-muted'
      "
    >
      Active ({{ activeCount }})
    </app-button>

    <app-button
      (buttonClick)="activeTab = 'inactive'; applyFilter()"
      [customColor]="
        activeTab === 'inactive' ? 'bg-slate-500 text-white' : 'text-text-muted'
      "
    >
      Completed ({{ completedCount }})
    </app-button>
  </div>

  <!-- Empty state -->
  <app-empty-state
    *ngIf="filteredAssignments.length === 0"
    (createClick)="openCreateModal()"
  ></app-empty-state>

  <!-- Assignment cards -->
  <div *ngIf="filteredAssignments.length > 0" class="flex flex-col gap-4 mb-10">
    <app-assignment-card
      *ngFor="let assignment of filteredAssignments"
      [assignment]="assignment"
      (onView)="viewAssignment(assignment)"
      (onEdit)="editAssignment(assignment)"
      (onDelete)="deleteAssignment(assignment)"
      (onToggleStatus)="toggleAssignmentStatus(assignment)"
    ></app-assignment-card>
  </div>

  <!-- Modal -->
  <app-assignment-modal
    *ngIf="showModal"
    [show]="showModal"
    [formData]="formData"
    [editingAssignmentId]="editingAssignmentId"
    [courses]="courses"
    [currentTeacherId]="teacherId"
    [currentTenantId]="tenantId"
    (onClose)="closeModal()"
    (onSubmit)="handleSubmit($event)"
  ></app-assignment-modal>
</div>
