<nav class="flex items-center justify-between p-4 space-x-1">
  <!-- Prev Button -->
  <app-button
    (buttonClick)="goToPage(currentPage - 1)"
    [disabled]="currentPage === 1"
    customColor="bg-white border border-gray-200 text-gray-700 hover:bg-gray-50 disabled:opacity-50 transition-colors"
  >
    Prev
  </app-button>

  <!-- Page Numbers -->
  <div class="flex items-center space-x-2">
    <app-button
      *ngFor="let page of pages"
      (buttonClick)="goToPage(page)"
      [customColor]="
        page === currentPage
          ? 'bg-indigo-600 text-white shadow-md'
          : 'bg-white border border-gray-200 text-gray-600 hover:bg-gray-50 transition-colors'
      "
    >
      {{ page }}
    </app-button>
  </div>

  <!-- Next Button -->
  <app-button
    (buttonClick)="goToPage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
    customColor="bg-white border border-gray-200 text-gray-700 hover:bg-gray-50 disabled:opacity-50 transition-colors"
  >
    Next
  </app-button>
</nav>
