<div
  class="flex flex-col gap-2 px-6 py-3 rounded-xl border-l-4 shadow-sm"
  [ngClass]="cardClasses"
>
  <div class="flex justify-between items-start">
    <div>
      <h2 class="font-semibold">{{ assignment.title }}</h2>
      <p class="text-xs text-gray-500">{{ assignment.courseName }}</p>
      <p class="text-xs">Due: {{ assignment.dueDate | date: "shortDate" }}</p>
    </div>

    <div class="flex gap-2 items-center">
      <!-- Submit / Submitted Button -->
      <button
        *ngIf="isActive || isSubmitted"
        [disabled]="isSubmitted"
        (click)="openModal()"
        [ngClass]="{
          'bg-purple-200 text-purple-950': isActive,
          'bg-blue-200 cursor-not-allowed text-blue-950': isSubmitted,
        }"
        class="px-3 py-1 rounded"
      >
        {{ isSubmitted ? "Submitted" : "Submit" }}
      </button>

      <!-- View Feedback -->
      <button
        *ngIf="assignment.effectiveStatus === 'graded'"
        (click)="handleViewFeedback()"
        class="px-3 py-1 bg-green-200 rounded"
      >
        View Feedback
      </button>
    </div>
  </div>
</div>

<app-student-assignment-modal
  [show]="isModalOpen"
  [tenantId]="tenantId"
  [assignment]="assignment"
  (close)="closeModal()"
  (submit)="handleSubmit($event)"
></app-student-assignment-modal>
