<div
  class="bg-slate-100 rounded-2xl shadow-sm border border-blue-200 px-6 py-4 hover:shadow-lg transition-all duration-300 hover:-translate-y-1"
>
  <div class="flex justify-between items-start mb-5">
    <div class="flex-1">
      <h3 class="text-2xl font-semibold text-blue-900 py-2 mb-1 tracking-tight">
        {{ assignment.title }}
      </h3>
      <p class="text-sm text-gray-700 mb-3 flex items-center gap-1">
        <i class="fa-solid fa-book text-blue-500"></i> {{ assignment.course }}
      </p>

      <!-- Details Row -->
      <div
        class="flex flex-wrap gap-6 text-sm text-gray-600 font-medium bg-gray-50 p-3 rounded-xl"
      >
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-calendar-days text-purple-500"></i>
          <span>Due: {{ assignment.dueDate }} at {{ assignment.dueTime }}</span>
        </div>

        <div class="flex items-center gap-2">
          <i class="fa-solid fa-users text-green-600"></i>
          <span>
            {{ assignment.submitted }}/{{ assignment.totalStudents }} Submitted
          </span>
        </div>

        <div class="flex items-center gap-2">
          <i class="fa-solid fa-file-alt text-yellow-500"></i>
          <span>{{ assignment.totalMarks }} Marks</span>
        </div>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="flex gap-2 ml-4">
      <!-- Action Buttons -->
      <div class="flex gap-2 ml-4">
        <app-button
          (buttonClick)="
            assignment.status === 'inactive'
              ? onInactiveClick()
              : onEdit.emit(assignment)
          "
          title="Edit"
          [disabled]="assignment.status === 'inactive'"
          [ngClass]="{
            'cursor-not-allowed text-red-600': assignment.status === 'inactive',
          }"
          customColor="bg-blue-100 text-blue-700 hover:bg-blue-100"
        >
          <i class="fa-solid fa-pen"></i>
        </app-button>

        <app-button
          (buttonClick)="onDelete.emit(assignment)"
          title="Delete"
          customColor="bg-red-50 text-red-600 hover:bg-red-100"
        >
          <i class="fa-solid fa-trash"></i>
        </app-button>
      </div>
    </div>
  </div>

  <!-- Description -->
  <p class="text-gray-400 text-sm leading-relaxed my-3">
    {{ assignment.description }}
  </p>

  <div class="flex justify-between items-center">
    <!-- Status badge -->
    <span
      *ngIf="assignment.status === 'active'"
      class="flex items-center gap-2 px-3 py-2 bg-green-100 text-green-700 rounded-full text-xs font-semibold uppercase tracking-wide"
    >
      <i class="fa-solid fa-circle-check"></i> Active
    </span>
    <span
      *ngIf="assignment.status === 'inactive'"
      class="flex items-center gap-2 px-3 py-2 bg-red-100 text-red-600 rounded-full text-xs font-semibold uppercase tracking-wide"
    >
      <i class="fa-solid fa-circle-xmark"></i> Inactive
    </span>
    <span
      *ngIf="assignment.status === 'completed'"
      class="flex items-center gap-2 px-3 py-1.5 bg-gray-200 text-gray-700 rounded-full text-xs font-semibold uppercase tracking-wide"
    >
      <i class="fa-solid fa-check-double"></i> Completed
    </span>
  </div>
</div>
